
@{
    ViewBag.Title = "Edit";
}
<!-- Startsidan för att ändra sin profil. Använder oss av två partials för att göra själva förändringarna. -->
<h2>Edit my profile</h2>
@Html.Partial("Update")
@Html.Partial("ChangePicture")