@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et odio quis nisl molestie iaculis at nec est. Pellentesque dui diam, placerat eu lectus vel, pretium pulvinar urna. Morbi vitae urna vitae leo elementum blandit ac vitae metus. Suspendisse et vehicula massa. Donec leo lacus, efficitur id nulla id, ultrices luctus libero.</p>
